# Node
node_modules/
npm-debug.log
yarn-error.log

# Frontend Build
frontend/dist/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
backend/*.json

# Model check points and heavy files
backend/model/*.pth
backend/model/*.h5
backend/model/*.pt

# Uploads and User generated PDFs
backend/uploads/*.jpg
backend/uploads/*.jpeg
backend/uploads/*.png
backend/uploads/reports/*.pdf
backend/uploads/reports/*.png

# OS / Environment
.DS_Store
.idea/
.vscode/
